<!DOCTYPE html>
<html lang="en">

<head>
    <title>JSON Challenge</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/FileSaver.js"></script>
</head>

<body>

    <div class="container">
        <h2>Insert JSON</h2>
        <form action="/" method="POST" id="jsonform">
            <div class="form-group">
                <label for="json">JSON:</label>
                <textarea class="form-control" rows="5" id="json" form="jsonform" name="json"></textarea>
            </div>
            
            <input type="submit" value="Generate report">
        </form>

        <% if(json){ %>
            <div class="form-group">
                Time: <p id="jsonTime"><%- json.time %></p>
                <br />Amount: <pre id="jsonAmount"><%- JSON.stringify(json.amount, undefined, 2) %></pre>                                
            </div>
            
            <button id="btn-save" type="submit" class="btn btn-primary">Save to file</button>
        <% } %>
    </div>

</body>

<script>
    $("#btn-save").click( function() {
        const obj = JSON.parse($("#jsonAmount").text())
        let text = 'Time:' + $("#jsonTime").text() + '\n'
        for(v in obj.types){
            text += '\n' + v + ' : ' + obj.types[v].amount + '\n'
            if(obj.types[v].format){
                text += 'Formats: ' + JSON.stringify(obj.types[v].format) + '\n'
            }
        }
        
        console.log(text)
        var filename = 'Report_'+new Date().getTime()
        var blob = new Blob([text], {type: "text/plain;charset=utf-8"});
        saveAs(blob, filename+".txt");
    });          
</script>

</html>